html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 150px;
}

input[type=number] {
    display: block;
    width: 75px;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
    display: block;
    margin: 10px 0 25px 0;
    width: fit-content;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.control-label {
    font-size: 20px;
}

.image-preview-container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem;
    border-radius: 20px;
    position: relative;
}

    .image-preview-container img {
        width: 100%;
        display: none;
        margin-bottom: 30px;
    }

    .image-preview-container input {
        display: none;
    }

    .image-preview-container label {
        display: block;
        width: 45%;
        height: 45px;
        margin-left: 25%;
        text-align: center;
        background: #8338ec;
        color: #fff;
        font-size: 15px;
        text-transform: Uppercase;
        font-weight: 400;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.text-layout {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
}

.table {
    position: relative;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 35px;
    font-weight: 300;
}

td {
    border-style: none;
    font-size: 30px;
    vertical-align: middle;
}

.heading {
    position: relative;
}

a {
    text-decoration: none;
    color: dodgerblue;
    font-weight: 600;
}

.update-style {
    color: dodgerblue;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid royalblue;
    background-color: #C6E6FB;
    width: fit-content;
    padding: 0.575rem 0.95rem;
    margin-left: 150px;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.delete-style {
    border: 1px solid midnightblue;
    background-color: cornflowerblue;
    color: darkblue;
    width: fit-content;
    padding: 0.375rem 0.75rem;
    margin: 10px;
    margin-left: 0px;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-weight: 400;
    margin-left: 150px;
}

.add-style {
    color: dodgerblue;
    font-size: 25px;
    font-weight: 600;
    margin: auto;
    padding: 0.175rem 0.35rem;
    border: 2px solid royalblue;
    background-color: #C6E6FB;
    width: fit-content;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-div {
    width: 75%;
    margin: 2% 20% 2% 20%;
}

/*.dog-1 {
    background-color: #FA6900;
}
.dog-2 {
    background-color: #0B486B;
}
.dog-3 {
    background-color: #BD1550;
}
.dog-4 {
    background-color: #FEDD00;
}
.dog-5 {
    background-color: #008080;
}*/